.card-subtext {
    text-align: right;
    padding: 20px 0px;
}

.card-subtext span {
    background-color: #78c281;
}

.followers {
    text-align: right;
    padding: 20px 0px;
}

.card-ranking {
    -webkit-font-smoothing: antialiased;
    background-position: center !important;
    background-size: cover !important;
    border-radius: 8px;
    color: #ffffff;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    height: 60px;
    text-align: left;
    text-overflow: ellipsis;
    margin-top: 16px;
    overflow: hidden;
    padding: 14px 10px;
    white-space: nowrap;
}

.card-ranking span {
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.6);
}