#wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.container {
    width: 400px;
    position: relative;
    text-align: -webkit-center;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        margin: 4px;
    }
}


