#wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.website-name {
    float: left;
}

.collage-subtext {
    padding: 5px;
    color: black;
}

.collage-headline {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

.date-textfield {
    float: right;
}

.container {
    width: 420px;
    position: relative;
    text-align: -webkit-center;
    color: white;
}

.term-buttons {
    display: inline-flex;
}

.top-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.audio-feature-texfield, .popularity-textfield {
    width: 100%;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-flow: row wrap;
    line-height: 26px;
}

.audio-feature-texfield {
    margin-top: 10px;
    margin-bottom: 20px;
}

.gallery {
    width: 552px;
    padding: 10px;
}

.gallery div {
    border: 0 !important;
}

.ReactGridGallery_tile-bottom-bar {
    padding-bottom: 10px !important;
}

.ReactGridGallery_tile-bottom-bar > div {
    display: flow-root !important;
    text-align: center;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}

.ReactGridGallery_tile-bottom-bar > div > span {
    color: black !important;
    background: rgba(255, 255, 255, 0.8) !important;
    padding: 0 0.6em 0.25em !important;
    font-variant: small-caps;
    border-radius: 0 !important;
}

.ReactGridGallery_tile-bottom-bar > div > span {
    font-weight: bold !important;
}

.ReactGridGallery_tile-bottom-bar > div, .ReactGridGallery_tile-icon-bar > div, .ReactGridGallery_tile-viewport > img {
    cursor: default !important;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        margin: 4px;
    }
}


