.audio-feature {
    padding: 10px 20px 10px 20px;
    max-width: 163px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    min-width: 106px;
    flex-basis: 100%;
}
.audio-feature-category, .audio-feature-emoji {
    font-weight: bold;
    font-size: 20px;
}
