.collage {
    padding: 10px;
}

.collage-headline {
    margin-bottom: 10px;
    color: black;
}

.collage-subtext {
    padding: 5px;
    color: black;
}

.website-name {
    float: left;
    padding-top: 3px;
}

.date-textfield {
    float: right;
    padding-top: 3px;
}

.gallery {
    width: 552px;
    padding: 20px;
    display: block;
    min-height: 1px;
    overflow: auto;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 3px;
}

.ReactGridGallery_tile-bottom-bar {
    padding-bottom: 10px !important;
}

.ReactGridGallery_tile-bottom-bar > div {
    display: flow-root !important;
    text-align: center;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    color: black !important;
}

.ReactGridGallery_tile-bottom-bar > div > span {
    color: black !important;
    background: rgba(255, 255, 255, 0.8) !important;
    padding: 0 0.6em 0.25em !important;
    font-variant: small-caps;
    border-radius: 0 !important;
    font-size: 80% !important;
}

.ReactGridGallery_tile-bottom-bar > div, .ReactGridGallery_tile-icon-bar > div, .ReactGridGallery_tile-viewport > img {
    cursor: default !important;
}

