.button {
    background-color: mediumseagreen;
    border-radius: 32px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 32px;
    margin: 0px 2px 0px 2px;
}

.button:hover {
    background-color: #306b30;
}

.button:active {
    position: relative;
    top: 1px;
}

@media screen and (max-width: 600px) {
    .button {
        font-size: 13px;
    }
}

