#wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

#submit {
    padding: 4px 10px 4px 10px;
    background-color: #ccc;
    border-radius: 32px;
    color: #fff;
    font-family:"Arial", sans-serif;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

#submit:hover {
    border: none;
    background: red;
    box-shadow: 0px 0px 1px #777;
}

form {
  margin: 8px;
}

h1 {
  font-family: "Arial", sans-serif;
}

.artists-name {
  text-align: right;
  padding: 20px 0px;
}

.artists-name span {
  background-color: #78c281;
}

.button {
  background-color: mediumseagreen;
  border-radius:32px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  font-size: 20px;
  padding: 13px 32px;
}

.button:hover {
  background-color: #43a34e;
}

.button:active {
  position: relative;
  top: 1px;
}

.container {
  width: 400px;
  position: relative;
  text-align: -webkit-center;
}

.followers {
  text-align: right;
  padding: 20px 0px;
}

.ranking {
  text-transform: lowercase;
  text-align: left;
  height: 60px;
  border-radius: 8px;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  padding: 13px 10px;
  background-position: center !important;
  background-size: cover !important;
  margin-bottom: 16px;
  margin-top: 16px;
}

.ranking span {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 4px;
}