#wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.submit {
    padding: 4px 10px 4px 10px;
    background-color: #ccc;
    border-radius: 32px;
    color: #fff;
    font-family:"Arial", sans-serif;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

.submit:hover {
    border: none;
    background: red;
}

.submit-default {
  background-color: red;
}

form {
  margin: 8px;
}

h1 {
  font-family: "Arial", sans-serif;
}

.artists-name {
  text-align: right;
  padding: 20px 0px;
}

.artists-name span {
  background-color: #78c281;
}

.button {
  background-color: mediumseagreen;
  border-radius:32px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  font-size: 20px;
  padding: 13px 32px;
}

.button:hover {
  background-color: #43a34e;
}

.button:active {
  position: relative;
  top: 1px;
}

.container {
  width: 400px;
  position: relative;
  text-align: -webkit-center;
  text-transform: lowercase;
}

.followers {
  text-align: right;
  padding: 20px 0px;
}

.popularity {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  margin: 20px 0px 20px 0px;
}

.popularity-track-name, .popularity-track-artists, .popularity-artist-name {
  font-style: italic;
}

.popularity-desc {
  font-weight: bold;
}

.ranking {
  -webkit-font-smoothing: antialiased;
  background-position: center !important;
  background-size: cover !important;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  height: 60px;
  text-align: left;
  text-overflow: ellipsis;
  margin-top: 16px;
  overflow: hidden;
  padding: 14px 10px;
  white-space: nowrap;
}

.ranking span {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 4px;
}

.meter {
  height: 20px;  /* Can be anything */
  position: relative;
  background: #555;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}