<!DOCTYPE html>
<html lang="en">
  <meta charset='UTF-8'/>
  <head>
    <title>top artists / top tracks</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'stylesheet.css')}}" >
  </head>
  <body>
    <div id="wrapper">
      <div class="container">
        <h1>{{ user_data }}'s spotify wrapped</h1>


        <div class="meter">
          <span style="width: {{audio_features['danceability']}}%"></span>
        </div>
        <div class="meter">
          <span style="width: {{audio_features['energy']}}%"></span>
        </div>
        <div class="meter">
          <span style="width: {{audio_features['key']}}%"></span>
        </div>
        <div class="meter">
          <span style="width: {{audio_features['loudness']}}%"></span>
        </div>
        <div class="meter">
          <span style="width: {{audio_features['mode']}}%"></span>
        </div>
        <div class="meter">
          <span style="width: {{audio_features['speechiness']}}%"></span>
        </div>
        <div class="meter">
          <span style="width: {{audio_features['acoustic']}}%"></span>
        </div>
        <div class="meter">
          <span style="width: {{audio_features['instrumentalness']}}%"></span>
        </div>
        <div class="meter">
          <span style="width: {{audio_features['liveness']}}%"></span>
        </div>
        <div class="meter">
          <span style="width: {{audio_features['valence']}}%"></span>
        </div>
        <div class="meter">
          <span style="width: {{audio_features['duration_min']}}%"></span>
        </div>
        <div class="meter">
          <span style="width: {{audio_features['time_signature']}}%"></span>
        </div>
        {{audio_features}}

        <form action="/top" method="get">
          <button name="term" type="submit" value="short_term" class="submit">4 weeks</button>
          <button name="term" type="submit" value="medium_term" class="submit">6 months</button>
          <button name="term" type="submit" value="long_term" class="submit">all time</button>
        </form>
        <div class="top-artists-button button" onclick="buttonClick(1)">
          <span>top artists</span>
        </div>
        <div class="top-tracks-button button" onclick="buttonClick(2)">
          <span>top tracks</span>
        </div>
        <div id="tracks-ranking-content" class="ranking-content" style="display: none">
          <div class="popularity">
            <div><span class="popularity-desc">average popularity score: </span>{{ tracks_popularity['average_popularity'] }}/100</div>
            <div><span class="popularity-desc">least mainstream track: </span><span class="popularity-track-name">{{ tracks_popularity['least_mainstream_track_name'] }}</span> by <span class="popularity-track-artists">{{ tracks_popularity['least_mainstream_track_artists'] }}</span> (score: {{ tracks_popularity['least_mainstream_track_score'] }}/100)</div>
          </div>
          {% for i in tracks_data %}
            {% set background_image = i['track_background'] %}
            <div class="tracks-ranking ranking" style="background: url({{background_image}});">
              <span>
                {{ i['track_rank'] }}
                {{ i['track_name'] }}
              </span>
              <div class="artists-name">
                <span>
                  {{ i['track_artists'] }}
                </span>
              </div>
            </div>
          {% endfor %}
        </div>
        <div id="artists-ranking-content" class="ranking-content">
          <div class="popularity">
            <div><span class="popularity-desc">average popularity score:</span> {{ artists_popularity['average_popularity'] }}/100</div>
            <div><span class="popularity-desc">least mainstream artist: </span><span class="popularity-artist-name">{{ artists_popularity['least_mainstream_artist_name'] }}</span> (score: {{ artists_popularity['least_mainstream_artist_score'] }}/100)</div>
          </div>
          {% for i in artists_data %}
            {% set background_image = i['artist_background'] %}
            <div class="artists-ranking ranking" style="background: url({{background_image}});">
              <span>
                {{ i['artist_rank'] }}
                {{ i['artist_name'] }}
              </span>
              <div class="followers">
                <span>
                  {{ i['artist_followers'] }}
                </span>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename = 'buttons.js')}}"></script>
  </body>
</html>